<!DOCTYPE html> <html lang="en"> <head>
  <title>BeerTap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application01.js"></script>

<style>
  h1 {
      font-size:150%; 
     } 
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 2.0;
    background-color: #000000;
  }
  p {font-size: 20px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #000000; /* Black */
    color: #ffffff;
  }
  .container-fluid {
    padding-top: 40px;
    padding-bottom: 10px;
  }

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 85px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 190px;
}
  </style>
</head>
<body>
<div class="container-fluid bg-1 text-center">
<img src="/static/beer.jpg" alt="Beer" style="width:99%;border: 0;">

<div class="container" id="content">
<div class="row">
<div class="bottom-left"><span class="pull-left"><h1 style="font-size:30px;" id="tap1"></h1></span></div>
<div class="bottom-right"><span class="pull-right"><h1 style="font-size:30px;" id="tap2"></h1></span></div>
</div>
</div>  

</div>
</body>
</html>

